<!DOCTYPE html>
<html>


    <head>  
        <meta charset="utf-8">
        <title></title>
        <link href="css/profilestyle.css" type="text/css" rel="stylesheet">
    
    </head>


    <body>
    
    <div id="wrapper">
        
            <img id="banner" src="images/duellquizbanner.png">
    
    <div id="navi">
            
    <p id="menü"> 
        
     <a href="#">Home</a>   
     <a href="/profile">Profil</a>   
     <a class="play" href="#">Play</a>   
     <a href="#">Leaderboard</a>   
     <a href="/logout">Logout</a>   
        
    </p>    
        
    </div>
        
        
    
    <div id="titelbild">
        
        <form action="/changecover" method="post">
        <input type="submit" value=">" /> 
        </form> 
        
        <img src="<%= typeof cover != 'undefined' ? cover : '' %>">
        
    <div id="profilbild">
        
    <img src="<%= typeof profile != 'undefined' ? profile : '' %>"class="responsive-img">    
    </div>    
        
    </div> 
        
       
        
    <div id="userinfo">
        
    <div id="user">    
        <h1>User:</h1>
        <h2><%= user %></h2> 
        <h2><%= typeof age != 'undefined' ? age : '' %></h2> 
        <h2><%= typeof comment != 'undefined' ? comment : '' %></h2> 
        
        </div>
        
    <div id="pbchanger">
    <form action="/change" method="post">
    
    <button type="submit">Change Profile picture</button>
    </form>
    
  
    </div>
        
    <div id="editprofile">
        
        <form action="/edit" method="post">
    
    <button type="submit">Edit profile</button>
    </form>
        
    </div>    
        
    </div>  
        
    <div id="statistik">
        <h1>Statistics:</h1>
        <h2>Wins: <%= wins %></h2>
        <h2>Loses: <%= loses %></h2>
        <h2>Draws: <%= draws %></h2>
    </div>    
    
    </div>     
    </body>







</html>